.search-box {
    border: 4px solid rgb(83, 223, 241);
    border-radius: 10px;
    outline: none;
    max-width: 30vw;
    line-height: .5rem;
    font-size: 3rem;
    font-family: 'Bigelow Rules', cursive;
}

.search-box:hover {
    box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.582);
}
