@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

body {
  margin: 4rem 0 6rem 0;
  padding: 10rem 0 0 0;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to bottom,
    rgb(58, 7, 82) 0%,
    rgb(155, 11, 119) 50%,
    rgb(58, 7, 82) 100%
  );
}

.header {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  border-bottom: 4px solid rgb(83, 223, 241);
  background-color: rgb(58, 7, 82);
  top: 0;
  position: fixed;
  z-index: 1;
  margin-block-start: 0;
  height: 9.5rem;
  width: 100%;
  padding: .5rem 2rem 0 2rem;
}

.heading {
  font-family: 'Bigelow Rules', cursive;
  font-size: 6rem;
  color: white;
  margin: 0;
}